# Default ignored files
/shelf/
/workspace.xml
output/
.cache/
.idea
.DS_store
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
